main {
    display: flex;
    gap: 1rem;

    .fields-wrapper {
        display: grid;
        gap: 1rem;

        label {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: .5rem;
        }
    }

    button {
        justify-self: center;
        display: grid;
        place-content: center;
        padding: .25rem .75rem;

        &[disabled] {
            cursor: not-allowed;
        }
    }
}