main {
    display: grid;
    align-items: center;
    width: 100%;

    .date-interaction {
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        .datepicker {
            display: grid;
            grid-template-columns: 1fr;
            font-weight: bold;            
        }
    }
}