main {
    display: grid;
    align-items: center;
    width: 100%;

    .date-interaction {
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        .datepicker {
            display: grid;
            font-weight: bold;
            input {
                text-align: center;
            }
            
        }
    }
}