<main>
    @let records = appService.selectedDateRecords();
    @for(r of records; track r.id){
    <!-- 
            hack to trigger CD to avoid:
            looping over selectedDateRecords() && categories() signals 
            like in computed/etc which are heavier 
        -->
    @let _cats = appService.categories();
    <div class="record" [class]="getWeightClass(r.categoryId)" 
        [style.fontSize.rem]="getFactor(r.categoryId)">
        <decrement-btn [record]="r" />
        {{r.categoryId | categoryIdToName}}
        :
        {{r.value}}
        <increment-btn [record]="r" />
    </div>
    }
    <weighted-score />
</main>