<main>
    <!-- TODO: divide manage section to custom component -->
    <section class="date-selection">
        <h1>לפי תאריך:</h1>
        <div class="date-interaction">
            <change-date direction="back" />
            <input type="date" name="date" [(ngModel)]="appService.selectedDate" (ngModelChange)="onDateChange($event)"
                [max]="appService.today" />
            <change-date direction="forward" />
        </div>

        <!-- consider add time to day end in case stay with utc+0 (current) -->
    </section>

    <section class="categories">
        @let records = appService.selectedDateRecords();
        @for(r of records; track r.id){
        <!-- 
            hack to trigger CD to avoid:
            looping over selectedDateRecords() && catagories() signals 
            like in computed/etc which are heavier 
        -->
        @let _cats = appService.categories();
        <div class="record">
            <decrement-btn [record]="r" />
            {{r.categoryId | categoryIdToName}}
            :
            {{r.value}}
            <increment-btn [record]="r" />
        </div>
        }

        @let score = weightedScore();
        <section [class]="{'bad': score < 0, 'good': score > 15 }" class="summary">
            משוקלל ליום:
            <span> {{ score }}</span>
        </section>
    </section>


    <section class="manage">
        <details open>
            <summary>
                <h1>ניהול קטגוריות:</h1>
            </summary>
            <!-- TODO: add new category -->
            <form #manageCategoriesForm="ngForm">
                @for(c of appService.categories(); track $index){
                <div class="category-wrapper">
                    <div class="fields-wrapper">
                        <label>
                            שם:
                            <input type="text" name="category-name" required [(ngModel)]="editCategoryNames()[$index]"
                                [placeholder]="c.name">
                        </label>
                        <label>
                            משקל:
                            <input type="number" name="weight" required [(ngModel)]="editCategoryWeights()[$index]"
                                [placeholder]="c.weight">
                        </label>
                    </div>
                    <button [disabled]="isFormDisabled(manageCategoriesForm, $index)"
                        (click)="updateCategory(manageCategoriesForm, c.id!, $index)">
                        שמור שינויים
                    </button>
                    <hr />
                </div>
                }
            </form>
            <form (ngSubmit)="addNewCategory(addNewCategoryForm)" #addNewCategoryForm="ngForm" class="add-new-category">
                <div class="fields-wrapper">
                    <label>
                        שם:
                        <input type="text" name="category-name" required [(ngModel)]="newCategoryName"
                            placeholder="שם קטגוריה">
                    </label>
                    <label>
                        משקל:
                        <input type="number" name="weight" required [(ngModel)]="newCategoryWeight" placeholder="משקל">
                    </label>
                </div>
                <button [disabled]="addNewCategoryForm.invalid" type="submit">
                    הוספת קטגוריה
                </button>
            </form>
        </details>
    </section>
</main>