* {
    box-sizing: border-box;
}

main {
    direction: rtl;
    display: grid;
    place-items: center;
    gap: 1rem;
    width: fit-content;
    justify-self: center;

    .date-selection {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        
        > *{
            outline: none;
        }
        

        input {
            justify-self: center;
            padding: .5rem;
            cursor: pointer;
        }
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem 5rem;
        padding: .5rem;
        border: .125rem solid green;
        max-width: min(100%, 777px);
        background-color: lightgreen;
        text-align: center;
        width: 40vw;

        .record {
            display: flex;
            gap: .75rem;
            justify-content: space-between;
        }
    }

    .summary {
        font-weight: bold;

        &.bad {
            color: red;
        }

        &.good {
            color: green;
        }
    }

}