* {
    box-sizing: border-box;
}

main {
    direction: rtl;
    display: grid;
    place-items: center;
    gap: 1rem;
    width: fit-content;
    justify-self: center;

    .categories {
        max-width: min(100%, 777px);
        background-color: lightgreen;
        display: grid;
        gap: .25rem;
        padding: .5rem;
        border: .125rem solid green;
        text-align: center;

        hr {
            width: 100%;
            height: 2px;
            background: white;
            border-radius: .5rem;
            border-style: hidden;
        }
    }

    input {
        justify-self: start;
        padding: .5rem;
        cursor: pointer;
    }

}