<main>
    <input type="date" [(ngModel)]="appService.selectedDate" (ngModelChange)="onDateChange($event)"
        [max]="appService.today" />
    @let records = appService.selectedDateRecords();
    <div class="categories">
        @for(r of records; track r.id){
        <div class="record">
            <decrement-btn [record]="r"/>
            {{r.categoryId | categoryIdToName}}
            :
            {{r.value}}
            <increment-btn [record]="r"/>
        </div>
        }
    </div>
    <div class="sum">
        weighted score: {{weightedScore()}}
    </div>
    <!-- TODO: add mangae categories section -->
</main>