main {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    justify-self: center;
    width: 100%;
    color: aquamarine;

    &>section {
        height: calc(100vh - 2rem);
        max-height: 100%;
        overflow: auto;
        padding: 0 1rem;
    }

    section.categories-container {
        display: grid;
        gap: 1rem;

        .date-selection {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr;
            width: 100%;

            h1 {
                margin-block: .5rem;
            }

            .date-interaction {
                display: flex;
                justify-content: space-evenly;

                text-align: center !important;

                input {
                    text-align: center !important;
                }
            }
        }
    }



    section.manage {
        width: 100%;
        padding: 1rem 0;

        details {
            transition: all 1s;
            height: 100px;
            &[open]{
                transition: all 1s;
                height: 100%;
            }
            summary {
                cursor: pointer;
                outline: 0;

                h1 {
                    display: inline;
                }
            }
        }
    }
}