<!-- TODO: add new category -->
<form #manageCategoriesForm="ngForm">
    @for(c of appService.categories(); track $index){
    <div class="category-wrapper">
        <div class="fields-wrapper">
            <label>
                שם:
                <input type="text" name="category-name" required [(ngModel)]="editCategoryNames()[$index]"
                    [placeholder]="c.name">
            </label>
            <label>
                משקל:
                <input type="number" name="weight" required [(ngModel)]="editCategoryWeights()[$index]"
                    [placeholder]="c.weight">
            </label>
        </div>
        <button [disabled]="isFormDisabled(manageCategoriesForm, $index)"
            (click)="updateCategory(manageCategoriesForm, c.id!, $index)">
            שמור שינויים
        </button>
        <hr />
    </div>
    }
</form>
<form (ngSubmit)="addNewCategory(addNewCategoryForm)" #addNewCategoryForm="ngForm" class="add-new-category">
    <div class="fields-wrapper">
        <label>
            שם:
            <input type="text" name="category-name" required [(ngModel)]="newCategoryName" placeholder="שם קטגוריה">
        </label>
        <label>
            משקל:
            <input type="number" name="weight" required [(ngModel)]="newCategoryWeight" placeholder="משקל">
        </label>
    </div>
    <button [disabled]="addNewCategoryForm.invalid" type="submit">
        הוספת קטגוריה
    </button>
</form>