button {
    height: 1.5rem;
    width: 1.5rem;
    display: grid;
    place-items: center;
    color: darkred;
    background: transparent;
    
    &:hover {
        background: transparent;
        color: red;
    }
}