section.summary {
    font-size: 1.375rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    height: 100%;
    display: flex;
    justify-self: center;
    gap: 1rem;
    align-items: center;

    &.bad {
        color: red;
    }

    &.good {
        color: lime;
    }

    span {
        unicode-bidi: plaintext;
    }

    .divider {
        border-radius: 1rem;
        width: 1px;
        height: 90%;
        background-color: currentColor;
    }
}