button {
    height: 1.5rem;
    width: 1.5rem;
    display: grid;
    place-items: center;
    background: transparent;
    cursor: pointer;
    color: lightgray;
    border: 1px solid;
    padding: .25rem;
    box-sizing: content-box;
    border-radius: .375rem;
    &:hover{
        background-color: beige;
        color: darkgreen;
    }
}