section.summary {
    font-size: 1.375rem;
    font-weight: bold;
    letter-spacing: .5px;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;

    &.bad {
        color: red;
    }

    &.good {
        color: lime;
    }
}