main {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    justify-self: center;
    width: 100%;
    color: aquamarine;

    &>section {
        height: calc(100vh - 2rem);
        max-height: 100%;
        overflow: auto;
        padding: 0 1rem;
    }

    section.categories-container {
        display: grid;
        gap: 1rem;
    }

    section.manage {
        width: 100%;
        padding: 1rem 0;

        details {
            transition: all 1s;
            height: 100px;
            &[open]{
                transition: all 1s;
                height: 100%;
            }
            summary {
                cursor: pointer;
                outline: 0;

                h1 {
                    display: inline;
                }
            }
        }
    }
}