main {
    display: flex;
    gap: 1rem;

    label {
        //visible only to screenreaders
        font-size: 0;
        input {
            text-align: center;

        }
    }

    span {
        width: 1.5rem;
        align-self: end;
        cursor: pointer;
        visibility: hidden;

        &:hover {
            filter: invert(1);
        }

        &.visible {
            visibility: visible;
        }
    }
}