* {
    font-family: Segoe UI;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    color-scheme: dark light;
}


body {
    margin: 0;
}

//Forms and inputs
input {
    background-color: #1E2235;
    color: aquamarine;
    font-size: 1rem;
    padding: .25rem;
    border: none;
    border-radius: .375rem;
    
    &::placeholder {
        color: #5A63B8;
        unicode-bidi: plaintext;
    }
}

input {
    border: .5px solid lightgray;

    &[type="number"] {

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type="date"] {
        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(91%) sepia(4%) saturate(1151%) hue-rotate(200deg) brightness(101%) contrast(95%);
        }
    }
}

button {
    padding: 0;
    border: 0;
    border-radius: .375rem;
    cursor: pointer;
    font-weight: 600;
    &:hover:not([disabled], .delete){
        background-color: beige;
        color: darkgreen;
    }
}

// Global Scrollers
* {
    scrollbar-width: thin;
    scrollbar-color: #123 #7777;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}