main {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    justify-self: center;
    width: 100%;
    color: aquamarine;

    @media(width < 777px) {
        grid-template-columns: 1fr;
    }

    &>section {
        height: calc(100vh - 1rem);
        max-height: 100%;
        overflow: auto;
        padding: 0 1rem;

        @media(width < 777px) {
            height: auto;
            max-height: unset;
            overflow: hidden;
            padding: 0;
        }
    }

    section.categories-container {
        display: grid;

        @media(width < 777px) {
            height: auto;
        }
    }

    section.manage {
        width: 100%;
        padding: 1rem 0;

        summary {
            cursor: pointer;
            outline: 0;

            h1 {
                display: inline;
            }
        }
    }
}