main {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    justify-self: center;
    width: 100%;
    color: aquamarine;

    @media(width < 777px) {
        grid-template-columns: 1fr;
    }

    section.categories-container {
        display: grid;
        justify-self: center;
        align-self: start;
        padding-top: 1.5rem;
        gap: 1rem;

        @media(width < 777px) {
            height: auto;
        }
    }

    section.manage {
        width: 100%;
        height: 100vh;
        overflow: auto;

        @media(width < 777px) {
            height: auto;
            overflow: hidden;
        }

        details {
            padding: 1rem 0;

            summary {
                cursor: pointer;
                outline: 0;

                h1 {
                    display: inline;
                }
            }
        }
    }
}